@charset "UTF-8";
/*
Theme Name: Annotated Bibliography
Theme URI: https://gitlab.com/jonatansteller/annobib-theme
Description: Card interface for a digital annotated bibliography.
Version: 0.97
Requires at least: 5.2
Requires PHP: 7.0
Author: Jonatan Jalle Steller
Author URI: https://gitlab.com/jonatansteller
Text Domain: annobib-theme
Domain Path: /languages
Tags: bibliography, annotation, cards, card, patternfly
License: GPL3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html

Annotated Bibliography is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

This WordPress plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this plugin. If not, see gnu.org/licenses/gpl-3.0.html.
*/


/*
## GENERAL ###########################
*/

/* Import: fonts */
@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.eot");
  src: url("./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay/RedHatDisplay-Medium.eot");
  src: url("./assets/fonts/RedHatDisplay/RedHatDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/RedHatDisplay/RedHatDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay/RedHatDisplay-Bold.eot");
  src: url("./assets/fonts/RedHatDisplay/RedHatDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/RedHatDisplay/RedHatDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/RedHatText/RedHatText-Regular.eot");
  src: url("./assets/fonts/RedHatText/RedHatText-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/RedHatText/RedHatText-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/RedHatText/RedHatText-Medium.eot");
  src: url("./assets/fonts/RedHatText/RedHatText-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/RedHatText/RedHatText-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

/* Import: utilities classes */
.pf-u-mt-sm {
  margin-top: var(--pf-global--spacer--sm) !important; }
.pf-u-mt-md {
  margin-top: var(--pf-global--spacer--md) !important; }
.pf-u-mt-lg {
  margin-top: var(--pf-global--spacer--lg) !important; }
.pf-u-mb-md {
  margin-bottom: var(--pf-global--spacer--md) !important; }
.pf-u-mb-lg {
  margin-bottom: var(--pf-global--spacer--lg) !important; }
.pf-u-mb-xl {
  margin-bottom: var(--pf-global--spacer--xl) !important; }
.pf-u-mb-2xl {
  margin-bottom: var(--pf-global--spacer--2xl) !important; }

/* Variables: colours */
:root {
  --pf-global--active-color--100: #9a1b60;
  --pf-global--active-color--200: #ffa000;
  --pf-global--active-color--300: #ed861d;
  --pf-global--active-color--400: #db6834;
  --pf-global--primary-color--100: var(--pf-global--active-color--100);
  --pf-global--primary-color--200: #762771;
  --pf-global--primary-color--light-100: var(--pf-global--active-color--300);
  --pf-global--primary-color--dark-100: var(--pf-global--active-color--100);
  --pf-global--link--Color: var(--pf-global--active-color--100);
  --pf-global--link--Color--hover: var(--pf-global--primary-color--200);
  --pf-global--link--Color--light: var(--pf-global--active-color--300);
  --pf-global--link--Color--light--hover: var(--pf-global--active-color--300);
  --pf-global--link--Color--dark: var(--pf-global--primary-color--dark-100);
  --pf-global--link--Color--dark--hover: var(--pf-global--primary-color--200); }


/*
## HELPERS ###########################
*/

.annobib-h-nav,
.annobib-h-back,
.annobib-h-open,
.annobib-h-close,
.annobib-h-form,
.annobib-h-video,
.annobib-h-copy,
.annobib-h-menu,
.annobib-h-tab,
.annobib-h-formfield,
.annobib-h-filter,
.annobib-h-filter-checkmark,
.annobib-h-selection,
.annobib-h-selection-checkmark {
}


/*
## LAYOUTS ###########################
*/

/* Customised layout: gallery */
.pf-l-gallery {
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(335px, 1fr)) !important; }
  @media screen and (min-width: 1600px) {
    .pf-l-gallery {
      --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(400px, 1fr)) !important; } }

/* Custom layout: bullseye (mono) */
.annobib-m-mono .pf-l-bullseye__item {
  width: 100%;
  max-width: 42rem;
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--sm); }
  @media screen and (min-width: 1200px) {
    .annobib-m-mono .pf-l-bullseye__item {
      margin-top: var(--pf-global--spacer--lg); } }

/* Customised layout: bullseye and split (stereo) */
.annobib-m-stereo .pf-l-bullseye__item {
  max-width: 75rem;
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--sm); }
  @media screen and (min-width: 1200px) {
    .annobib-m-stereo .pf-l-bullseye__item {
      margin-top: var(--pf-global--spacer--lg); } }
.annobib-m-stereo .pf-l-split.pf-m-gutter > *:not(:last-child) {
  margin-right: var(--pf-global--spacer--xl); }
  @media screen and (min-width: 1100px) {
    .annobib-m-stereo .pf-l-split.pf-m-gutter > *:not(:last-child) {
      margin-right: var(--pf-global--spacer--2xl); } }
  @media screen and (min-width: 1200px) {
    .annobib-m-stereo .pf-l-split.pf-m-gutter > *:not(:last-child) {
      margin-right: var(--pf-global--spacer--3xl); } }
  @media screen and (min-width: 1250px) {
    .annobib-m-stereo .pf-l-split.pf-m-gutter > *:not(:last-child) {
      margin-right: var(--pf-global--spacer--4xl); } }
.annobib-m-stereo__speaker {
  flex: 0 0 12.5rem; }
@media screen and (max-width: 991px) {
  .annobib-m-stereo .pf-l-split.pf-m-gutter > *:not(:last-child) {
    margin-right: 0; }
  .annobib-m-stereo .pf-l-bullseye__item {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--pf-global--spacer--md)) calc(-1 * var(--pf-global--spacer--sm)) calc(-1 * var(--pf-global--spacer--md)); }
  .annobib-m-stereo .pf-l-split.pf-m-gutter > *:nth-child(3) {
    order: 1;
    flex-basis: 100%;
    max-width: 42rem;
    margin: var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--xl) var(--pf-global--spacer--md); }
  .annobib-m-stereo__speaker {
    flex: 0 1 21rem;
    margin: 0 calc(0.5 * var(--pf-global--spacer--lg)) var(--pf-global--spacer--lg) calc(0.5 * var(--pf-global--spacer--lg)) !important; }
  .annobib-m-stereo__speaker:nth-child(2) {
    order: 2; }
  .annobib-m-stereo__speaker:nth-child(2) .annobib-c-figure {
    width: 12.5rem;
    margin: calc(-1 * var(--pf-global--spacer--xs)) auto 0 auto; }
  .annobib-m-stereo__speaker:last-child {
    order: 3; }
  .annobib-m-stereo__speaker:last-child .pf-c-title {
    display: block;
    visibility: visible; } }

/* Custom layout: columns */
.annobib-l-columns {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--pf-global--spacer--md)) calc(-1 * var(--pf-global--spacer--sm)) calc(-1 * var(--pf-global--spacer--md)); }
.annobib-l-columns__item {
  flex: 0 1 21rem;
  margin: 0 calc(0.5 * var(--pf-global--spacer--lg)) var(--pf-global--spacer--lg) calc(0.5 * var(--pf-global--spacer--lg)); }
.annobib-l-columns.annobib-m-wide {
  margin-bottom: calc(-1 * var(--pf-global--spacer--md)); }
.annobib-m-wide .annobib-l-columns__item {
  flex: 5 0 335px }
  @media screen and (min-width: 1600px) {
      .annobib-m-wide .annobib-l-columns__item {
        flex-basis: 400px } }

/* Custom layout: front page */
.annobib-l-front {
  flex-direction: column; }
.annobib-l-front-decoration {
  flex: 5 0 20% !important; }
.annobib-l-front-controls {
  flex: 1 1 80% !important;
  background: radial-gradient(circle at 80% 3rem, #ad1457 0%, #503484 100%);
  color: var(--pf-global--BackgroundColor--100); }
  /*@media screen and (max-height: 560px) {
    .annobib-l-front-controls {
      align-items: start !important; } }*/
  @media screen and (min-width: 820px) {
    .annobib-l-front {
      flex-direction: row !important; }
    .annobib-l-front-decoration {
      flex: 0 0 60% !important; }
    .annobib-l-front-controls {
      flex: 0 0 40% !important; } }
  /*@media screen and (min-width: 820px) and (max-height: 560px) {
    .annobib-l-front-controls,
    .annobib-l-front-decoration {
      overflow: scroll; } }*/
  @media screen and (max-width: 819px) {
    .annobib-l-front-decoration {
      padding: 0 !important; }
    .annobib-l-front-controls {
      padding-top: var(--pf-global--spacer--xl);
      padding-bottom: var(--pf-global--spacer--xl); } }

/*
## MODIFIERS #########################
*/

/* Customised modifier: visible */
.pf-l-split__item.pf-m-visible-on-xl,
.pf-c-title.pf-m-visible-on-sm {
  display: none;
  visibility: hidden; }
  @media screen and (min-width: 1200px) {
    .pf-l-split__item.pf-m-visible-on-xl {
      display: block;
      visibility: visible; } }
  @media screen and (min-width: 576px) {
    .pf-c-title.pf-m-visible-on-sm {
      display: block;
      visibility: visible; } }

/* Custom modifier: hidden */
.annobib-m-hidden {
  display: none;
  visibility: hidden; }
@media screen and (max-height: 500px),
screen and (max-width: 575px) {
  .annobib-m-hidden-on-xs {
    display: none;
    visibility: hidden; } }
@media screen and (min-width: 1200px) {
  .pf-c-dropdown__menu-item.pf-m-hidden-on-xl,
  .pf-c-nav__item.pf-m-hidden-on-xl,
  .pf-c-nav__item.pf-m-hidden-on-xl button,
  .pf-c-divider.pf-m-hidden-on-xl,
  .pf-c-divider.pf-m-hidden-on-xl::after,
  .pf-c-divider.pf-m-hidden-on-xl::before {
    display: none !important;
    visibility: hidden !important; } }

/* Custom modifier: block */
.annobib-m-block-title {
  text-align: center; }
.annobib-m-block-paragraph p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify; }
.annobib-m-block-meta,
.annobib-m-block-paragraph p.annobib-m-block-meta {
  text-align: center;
  color: var(--pf-c-content--small--Color);
  font-size: var(--pf-c-content--small--FontSize);
  font-weight: bold; }
.annobib-m-block-info {
  text-align: center;
  max-width: 30rem; }
.annobib-m-block-image {
  text-align: center;
  vertical-align: middle;
  margin-top: var(--pf-global--spacer--lg); }
.annobib-m-block-image.annobib-m-small {
  margin-top: var(--pf-global--spacer--xl); }
.annobib-m-block-image.annobib-m-small img {
  width: 11.5rem; }

/* Custom modifier: admin bar */
html.annobib-m-adminbar {
  height: calc(100% - 32px); }
  @media screen and (max-width: 782px) {
    html.annobib-m-adminbar {
      height: calc(100% - 46px); } }

/* Custom modifier: extra large button */
.pf-c-button.annobib-m-display-xl {
  --pf-c-button--FontSize: var(--pf-global--FontSize--lg);
  --pf-c-button--PaddingTop: var(--pf-global--spacer--md) !important;
  --pf-c-button--PaddingBottom: var(--pf-global--spacer--md) !important;
  min-width: 12.5rem !important;
  margin-bottom: var(--pf-global--spacer--md) !important; }
  @media screen and (min-height: 525px) and (min-width: 576px) {
    .pf-c-button.annobib-m-display-xl {
      margin-bottom: var(--pf-global--spacer--xl) !important; } }
  @media screen and (min-height: 600px) and (min-width: 576px) {
    .pf-c-button.annobib-m-display-xl {
      margin-bottom: 0 !important; } }
  @media screen and (min-width: 1200px) {
    .pf-c-button.annobib-m-display-xl {
      --pf-c-button--FontSize: var(--pf-global--FontSize--xl);
      --pf-c-button--PaddingTop: var(--pf-global--spacer--lg) !important;
      --pf-c-button--PaddingBottom: var(--pf-global--spacer--lg) !important;
      min-width: 16rem !important; } }

/* Custom modifier: extra small button */
.pf-c-button.annobib-m-display-xs {
  display: none !important;
  max-width: 16.5rem !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  margin-top: var(--pf-global--spacer--sm);
  margin-bottom: var(--pf-global--spacer--xl); }
  @media screen and (min-height: 600px) and (min-width: 576px) {
    .pf-c-button.annobib-m-display-xs {
      display: inline-block !important; } }
  @media screen and (min-width: 1200px) {
    .pf-c-button.annobib-m-display-xs {
      max-width: 20rem !important; } }

/*
## COMPONENTS ########################
*/

/* Customised component: page header */
.pf-c-page {
  --pf-c-page__header--BackgroundColor: linear-gradient(to right, #503484 0%, #ad1457 80%, #961c62 100%);
  --pf-c-page__header-nav--BackgroundColor: linear-gradient(to right, #60468f 0%, #b42966 80%, #a03170 100%); }
.pf-c-page__header {
  background: var(--pf-c-page__header--BackgroundColor); }
.pf-c-page__header-nav {
  background: var(--pf-c-page__header-nav--BackgroundColor); }
  @media screen and (min-width: 1200px) {
    .pf-c-page__header-nav {
      background: none; } }
.pf-c-page__header-nav .pf-c-button {
  margin-right: calc(-1 * var(--pf-global--spacer--xs)); }
@media screen and (max-width: 1199px) {
  .pf-c-page__header-tools {
    margin-right: 0; } }

/* Customised component: page sections */
html {
  scroll-behavior: smooth; }
.pf-c-page__main {
  scroll-behavior: smooth; }
.pf-c-page__main-section {
  background: var(--pf-c-page__main-section--BackgroundColor) url("https://home.uni-leipzig.de/lit4school/wp-content/themes/annobib-theme/assets/images/pattern.svg") repeat center center; } /* TODO Absolute path used to please Safari */
.pf-c-page__main-section.pf-m-light,
.pf-c-page__main-section.pf-m-dark-200 {
  background: var(--pf-c-page__main-section--BackgroundColor); }
.pf-c-page__main-section.pf-m-dark-100 {
  background: radial-gradient(circle at 80% 3rem, #ad1457 0%, #503484 100%); }
.pf-c-page__main-section.annobib-m-nowhitespace {
  padding-top: 0;
  margin-top: calc(-1 * var(--pf-global--spacer--2xl)); }
.pf-c-page__main-section.annobib-m-onethird {
  flex-shrink: 2;
  flex-grow: 1; }
.pf-c-page__main-section.annobib-m-twothirds {
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 2; }

/* Customised component: page sidebar */
.pf-c-page { /* Decrease height */
  --pf-c-page__sidebar-body--PaddingTop: var(--pf-global--spacer--xs); }
@media screen and (min-width: 1200px) {
  .pf-c-page {
    --pf-c-page__sidebar-body--PaddingTop: calc(0.5 * var(--pf-global--spacer--lg)); } }
.pf-c-nav {
  --pf-c-nav__section--section--MarginTop: var(--pf-global--spacer--md);
  --pf-c-nav__section__item--MarginTop: 0;
  --pf-c-nav__subnav__link--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-nav__subnav__link--PaddingLeft: var(--pf-global--spacer--md); }
.pf-c-nav__toggle {
  padding-right: 0; }
.pf-c-nav__section-title { /* Declutter */
  color: var(--pf-global--Color--400);
  border-bottom: 0; }
.pf-m-light .pf-c-nav__section-title {
  color: var(--pf-global--Color--200); }
.pf-c-nav__item.pf-m-expandable::before {
  border-bottom: 0;
  bottom: 0; }
.pf-c-nav__item.pf-m-expanded .pf-c-nav__toggle-icon.annobib-m-steady { /* Some icons need not transform */
  transform: none; }
.pf-c-nav__link .pf-c-nav__toggle { /* Tone down icons */
  color: var(--pf-global--Color--400); }
.pf-m-light .pf-c-nav__link .pf-c-nav__toggle {
  color: var(--pf-global--Color--200); }
.pf-c-nav__link:hover .pf-c-nav__toggle {
  color: var(--pf-c-nav__link--hover--Color); }
.pf-c-nav__link:focus .pf-c-nav__toggle {
  color: var(--pf-c-nav__link--focus--Color); }
.pf-c-nav__link:active .pf-c-nav__toggle {
  color: var(--pf-c-nav__link--active--Color); }
.pf-c-nav__link.pf-m-current .pf-c-nav__toggle,
.pf-c-nav__link.pf-m-current:hover .pf-c-nav__toggle,
.pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link .pf-c-nav__toggle {
  color: var(--pf-c-nav__link--m-current--Color); }
.pf-c-nav__subnav .pf-c-nav__list .pf-c-nav__list .pf-c-nav__link { /* Add depth */
  padding-left: var(--pf-global--spacer--xl); }
.pf-c-nav__subnav .pf-c-nav__list .pf-c-nav__list .pf-c-nav__link::before {
  content: '—';
  margin-left: var(--pf-global--spacer--md); }

/* Customised component: brand */
@media screen and (min-width: 1200px) {
  .pf-c-page__header-brand {
    margin-right: 5rem; } }

/* Customised component: toolbar */
.pf-c-toolbar.annobib-m-inline { /* Entry toolbar */
  padding: var(--pf-global--spacer--lg) 0 0 0; }
  @media screen and (max-width: 991px) {
    .pf-c-toolbar.annobib-m-inline { /* Entry toolbar */
      border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
      padding-bottom: var(--pf-global--spacer--lg); }
  }
.annobib-m-inline .pf-c-toolbar__content-section {
  justify-content: center; }
.annobib-m-inline .pf-c-toolbar__group {
  justify-content: center;
  flex-wrap: wrap; }
.annobib-m-inline .pf-c-toolbar__group.pf-m-button-group > * {
  align-self: center;
  --pf-c-toolbar--spacer: 0; }
.pf-c-toolbar__group.pf-m-icon-button-group { /* Card view toolbar */
  margin-left: calc(-1 * var(--pf-global--spacer--md)); }
  @media screen and (min-width: 1200px) {
    .pf-c-toolbar__group.pf-m-icon-button-group {
      margin-left: 0; } }
.pf-c-toolbar__item.pf-m-label {
  margin-left: 0;
  color: var(--pf-global--Color--200); }
  @media only screen and (min-width: 1200px) {
    .pf-c-toolbar__item.pf-m-label {
      margin-left: var(--pf-global--spacer--sm); } }
.pf-c-toolbar__content-section {
  flex-wrap: nowrap; }
.pf-c-toolbar__group.annobib-m-shortcuts {
  overflow: hidden;
  white-space: nowrap; }
.pf-c-toolbar__group.annobib-m-shortcuts .pf-c-toolbar__item * {
  display: none; }
.pf-c-toolbar__group.annobib-m-shortcuts .pf-c-toolbar__item *:first-child {
  display: inline-block; }
  @media only screen and (min-width: 576px) {
    .pf-c-toolbar__group.annobib-m-shortcuts .pf-c-toolbar__item *:nth-child(2) {
      display: inline-block; } }
  @media only screen and (min-width: 992px) {
    .pf-c-toolbar__group.annobib-m-shortcuts .pf-c-toolbar__item *:nth-child(3) {
      display: inline-block; } }
  @media only screen and (min-width: 1200px) {
    .pf-c-toolbar__group.annobib-m-shortcuts .pf-c-toolbar__item * {
      display: inline-block; } }
.annobib-m-chips { /* Properly align toolbar containing chips */
  margin-top: calc(-1 * var(--pf-global--spacer--sm)); }
.pf-m-expanded.pf-c-toolbar__group { /* Show filters on demand on small screens */
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: var(--pf-c-toolbar__expandable-content--ZIndex);
  display: grid;
  grid-row-gap: var(--pf-global--gutter);
  width: 100%;
  padding: var(--pf-c-toolbar__expandable-content--PaddingTop) var(--pf-c-toolbar__expandable-content--PaddingRight) var(--pf-c-toolbar__expandable-content--PaddingBottom) var(--pf-c-toolbar__expandable-content--PaddingLeft);
  visibility: visible;
  background-color: var(--pf-c-toolbar__expandable-content--BackgroundColor);
  box-shadow: var(--pf-c-toolbar__expandable-content--BoxShadow); }
.pf-m-expanded .pf-c-toolbar__item {
  --pf-c-toolbar--spacer: 0; }

/* Customised component: alert group */
.pf-c-alert-group > * + * {
  margin-top: 0; }

/* Customised component: button */
.pf-c-button.pf-m-display-lg {
  min-width: 9rem;
  margin: 0 calc(0.5 * var(--pf-global--spacer--xs)) var(--pf-global--spacer--xs) calc(0.5 * var(--pf-global--spacer--xs)); }
  @media screen and (max-width: 575px) {
    .pf-c-button.pf-m-display-lg {
      --pf-c-button--PaddingRight: var(--pf-global--spacer--xs) !important;
      --pf-c-button--PaddingLeft: var(--pf-global--spacer--xs) !important;
      min-width: 6rem; } }
.pf-c-button.annobib-m-norm { /* Align the width/height with the size of dropdowns */
  --pf-c-button--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-button--PaddingLeft: var(--pf-global--spacer--sm);
  min-width: var(--pf-global--target-size--MinWidth); }

/* Customised component: about box */
.pf-c-about-modal-box {
  --pf-c-about-modal-box__hero--sm--BackgroundImage: url("./images/background.jpg");
  --pf-c-about-modal-box__close--c-button--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-about-modal-box__close--c-button--hover--BackgroundColor: rgba(118,39,113,0.6);
  --pf-c-about-modal-box--BackgroundColor: radial-gradient(circle at 80% 3rem, #ad1457 0%, #503484 100%);
  background: var(--pf-c-about-modal-box--BackgroundColor); }

/* Customised component: card */
.pf-c-card__title h2,
.annobib-m-card-term .pf-c-card__body h2 {
  color: var(--pf-global--active-color--100); }
.pf-c-card__body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; }
.annobib-m-card-highlight,
.annobib-m-card-recent {
  color: var(--pf-global--Color--light-100); }
.annobib-m-card-highlight {
  background: url("./assets/images/eyecatcher-highlight.svg") no-repeat center 40%,
    radial-gradient(circle at 75% 3rem, #ad1457 0%, #503484 100%); }
.annobib-m-card-recent {
  background: url("./assets/images/eyecatcher-recent.svg") no-repeat center 40%,
    radial-gradient(circle at 75% 3rem, #db6834 0%, #ad1457 100%); }
.annobib-m-card-highlight .pf-c-card__body,
.annobib-m-card-recent .pf-c-card__body {
  display: flex;
  align-items: center;
  justify-content: center; }
.annobib-m-card-highlight .pf-c-title,
.annobib-m-card-recent .pf-c-title {
  padding-top: 7rem;
  text-align: center; }

/* Customised component: tab and tab content */
.pf-c-tabs {
  justify-content: center; }
.pf-c-tab-content {
  margin-top: var(--pf-global--spacer--lg); }
.pf-c-tab-content.annobib-m-dense {
  margin-top: 0; }

/* Customised component: select */
.pf-c-select__menu ul .pf-c-select__menu-item::before { /* Add depth to filters */
  content: '—';
  margin-right: var(--pf-global--spacer--sm); }

/* Customised component: form */
.pf-c-form__field-group > .pf-c-form__field-group-body {
  display: none;
  padding-top: var(--pf-global--spacer--sm); }
.pf-c-form__field-group.pf-m-expanded > .pf-c-form__field-group-body {
  display: grid; }
.annobib-h-form .pf-c-form__group.pf-m-action {
  display: block;
  margin-top: 0;
}

/* Customised component: form control */
.pf-c-form-control {
  --pf-c-form-control__select--BackgroundUrl: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23urrentColor' d='M 6.0292969 7 A 1 1 0 0 0 5.2929688 7.2929688 A 1 1 0 0 0 5.2929688 8.7070312 L 9.2929688 12.707031 A 1.0001 1.0001 0 0 0 10.707031 12.707031 L 14.707031 8.7070312 A 1 1 0 0 0 14.707031 7.2929688 A 1 1 0 0 0 13.292969 7.2929688 L 10 10.585938 L 6.7070312 7.2929688 A 1 1 0 0 0 6.0292969 7 z '/%3E%3C/svg%3E");
  --pf-c-form-control__select--BackgroundSize: 1rem; }
.pf-c-form-control.annobib-m-inputbox {
  --pf-c-form-control__select--BackgroundUrl: none; }
textarea.pf-c-form-control.annobib-m-inputbox {
  height: 6rem; }
select.pf-c-form-control.annobib-m-inputbox {
  height: 9rem; }

/* Customised component: pagination */
.pf-c-pagination:not(.pf-m-bottom) .pf-c-pagination__nav,
.pf-c-pagination:not(.pf-m-bottom) .pf-c-options-menu {
  display: flex;
  visibility: visible; }
@media screen and (min-width: 1200px) {
  body:not(.search) .pf-c-pagination:not(.pf-m-bottom) .pf-m-hidden-on-flex.pf-c-options-menu {
    display: none;
    visibility: hidden; } }
@media screen and (min-width: 1350px) {
  body:not(.search) .pf-c-pagination:not(.pf-m-bottom) .pf-m-hidden-on-flex.pf-c-options-menu {
    display: flex;
    visibility: visible; } }
.pf-c-pagination:not(.pf-m-bottom) {
  margin-right: -0.25rem; }
  @media screen and (min-width: 1200px) {
    .pf-c-pagination:not(.pf-m-bottom) {
      margin-right: 0.25rem; } }
  @media screen and (min-width: 768px) {
    .pf-c-pagination.pf-m-bottom {
      margin-right: -0.25rem; } }
.pf-c-pagination.pf-m-bottom .pf-c-pagination__nav-control.pf-m-first,
.pf-c-pagination.pf-m-bottom .pf-c-pagination__nav-control.pf-m-last {
  display: block;
  visibility: visible; }
.pf-c-pagination.pf-m-bottom .pf-c-options-menu {
  margin-top: 0.45rem; }
@media screen and (max-width: 767px) {
  .pf-c-pagination.pf-m-bottom .pf-c-options-menu {
    position: static;
    margin-top: 1.1rem; } }

/* Customised component: label group */
.pf-c-label-group {
  display: flex; }
.pf-c-label-group,
.pf-c-label-group__list {
  justify-content: center; }
.pf-c-label-group.annobib-m-inline {
  justify-content: right; }
.pf-c-label-group .pf-c-label {
  --pf-c-label--m-outline__content--before--BorderColor: #d3797e;
  --pf-c-label--m-outline__content--link--hover--before--BorderColor: var(--pf-global--primary-color--dark-100);
  --pf-c-label--m-outline__content--link--focus--before--BorderColor: var(--pf-global--primary-color--dark-100); }

/* Customised component: empty state */
.pf-c-empty-state {
  grid-column-end: span 5; }
.pf-c-empty-state__icon {
  width: 60px !important;
  height: 60px !important; }
.annobib-l-columns__item .pf-c-empty-state {
  padding-top: var(--pf-global--spacer--md);
  padding-bottom: var(--pf-global--spacer--sm); }
.annobib-l-columns__item .pf-c-empty-state__icon {
  margin-bottom: 0; }

/* Customised component: dropdown */
.pf-c-dropdown__toggle.pf-m-plain { /*bugfix for empty space in inline-block style*/
  display: flex; }

/* Custom component: page header extra */
.annobib-c-page__header-nav-extra {
  text-align: right;
  flex-grow: 5;
  margin-right: var(--pf-global--spacer--xs); }
  @media screen and (min-width: 1200px) {
    .annobib-c-page__header-nav-extra {
      display: none;
      visibility: hidden; } }

/* Custom component: icon */
.annobib-c-icon {
  fill: currentColor;
  vertical-align: middle;
  width: 20px;
  height: 20px; }
.pf-c-button .annobib-c-icon {
  margin-top: calc(-1 * var(--pf-global--spacer--xs)); }
.pf-c-modal-box .pf-c-button .annobib-c-icon {
  margin-left: calc(-1 * var(--pf-global--spacer--xs));
  margin-right: calc(-1 * var(--pf-global--spacer--xs)); }
.pf-c-about-modal-box__close .pf-c-button.pf-m-plain {
  padding: 10px; }
.pf-c-about-modal-box__close .pf-c-button.pf-m-plain .annobib-c-icon {
  margin-top: 0; }
.pf-c-nav__item .annobib-c-icon,
.annobib-c-iconlist .annobib-c-icon,
.annobib-c-reference .annobib-c-icon {
  margin-top: calc(-0.75 * var(--pf-global--spacer--xs)); }
.pf-c-dropdown .annobib-c-icon {
  margin-top: var(--pf-global--spacer--xs);
  margin-left: auto;
  margin-right: auto; }
.pf-c-dropdown__toggle-icon .annobib-c-icon,
.pf-c-select__toggle-arrow .annobib-c-icon,
.pf-c-pagination__nav-control .annobib-c-icon,
.pf-c-options-menu__toggle-icon .annobib-c-icon,
.pf-c-chip .annobib-c-icon {
  margin: calc(-0.5 * var(--pf-global--spacer--xs)) calc(-1.25 * var(--pf-global--spacer--xs)) 0 calc(-1.25 * var(--pf-global--spacer--xs)); }
.pf-c-dropdown__menu-item-icon .annobib-c-icon {
  margin-top: calc(-0.1 * var(--pf-global--spacer--xs)); }

/* Custom component: icon list */
.annobib-c-iconlist {
  display: table; }
.annobib-c-iconlist.annobib-m-columns {
  margin: 0 auto; }
  @media screen and (max-width: 991px) {
    .annobib-m-stereo .annobib-c-iconlist {
      margin: 0 auto; } }
.annobib-c-iconlist li {
  display: table-row; }
.annobib-c-iconlist__icon,
.annobib-c-iconlist__label {
  display: table-cell;
  padding-bottom: var(--pf-global--spacer--sm); }
li:last-child .annobib-c-iconlist__icon,
li:last-child .annobib-c-iconlist__label {
  padding-bottom: 0; }
.annobib-c-iconlist__icon {
  color: var(--pf-global--disabled-color--100); }
.annobib-c-iconlist__label {
  padding-left: var(--pf-global--spacer--sm); }
.annobib-c-iconlist.annobib-m-short .annobib-c-iconlist__label {
  max-width: 17.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* Custom component: link list */
.annobib-c-linklist.annobib-m-columns {
  text-align: center; }
.annobib-c-linklist li {
  margin-bottom: var(--pf-global--spacer--sm); }
.annobib-c-linklist li:last-child {
  margin-bottom: 0; }
.annobib-c-linklist a {
  display: block; }

/* Custom component: figure */
.annobib-c-figure__frame {
  display: block;
  padding: var(--pf-global--spacer--xs);
  border-radius: var(--pf-global--spacer--xs);
  background: var(--pf-global--BackgroundColor--200); }
.annobib-c-figure__frame-picture {
  vertical-align: middle; }
.annobib-c-figure__frame-caption {
  display: none;
  visibility: none; }
.annobib-c-figure__cover {
  padding: 2.5rem 1rem 0 1rem;
  height: 16.5rem;
  margin-top: -16.5rem;
  text-align: center;
  color: var(--pf-global--Color--light-100); }
.annobib-c-figure__cover-title {
  font-weight: bold;
  font-size: var(--pf-global--FontSize--sm); }
.annobib-c-figure__cover-author {
  font-size: var(--pf-global--FontSize--xs);
  margin-top: 1.75rem; }

/* Custom component: reference */
.annobib-c-reference {
  display: flex;
  color: var(--pf-global--Color--100);
  font-size: var(--pf-global--FontSize--sm);
  background: var(--pf-global--BackgroundColor--200);
  padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--sm) var(--pf-global--spacer--xs) calc(0.75 * var(--pf-global--spacer--sm));
  margin: var(--pf-global--spacer--lg) calc(-1 * var(--pf-global--spacer--sm)) 0 calc(-1 * var(--pf-global--spacer--sm));
  border-radius: var(--pf-global--spacer--xs); }
  @media screen and (min-width: 1200px) {
    .annobib-c-reference {
      margin-top: var(--pf-global--spacer--xl); } }
.annobib-c-reference__icon {
  color: var(--pf-global--Color--200);
  margin-right: var(--pf-global--spacer--xs); }
.annobib-c-reference__text {
  flex-grow: 1; }
.annobib-c-reference__text-extra {
  float: right;
  display: block;
  font-size: var(--pf-global--FontSize--xs);
  margin-top: calc(0.5 * var(--pf-global--spacer--xs));
  color: var(--pf-global--Color--200); }

/* Custom component: info */
.annobib-c-info {
  display: flex;
  align-items: center;
  font-size: var(--pf-global--FontSize--sm);
  padding: 0 var(--pf-global--spacer--sm); }
.annobib-c-info__text {
  display: block; }

/* Custom component: wordmark */
.annobib-c-wordmark {
  width: 12.5rem;
  height: auto;
  padding-top: 0;
  padding-bottom: var(--pf-global--spacer--md); }
  @media screen and (min-height: 525px) and (min-width: 576px) {
    .annobib-c-wordmark {
      padding-bottom: var(--pf-global--spacer--xl); } }
  @media screen and (min-width: 768px) {
    .annobib-c-wordmark {
      width: 15rem; } }
  @media screen and (min-width: 992px) {
    .annobib-c-wordmark {
      width: 17.5rem; } }
  @media screen and (min-width: 1200px) {
    .annobib-c-wordmark {
      width: 20rem; } }

/* Custom component: front page decoration */
.annobib-c-decoration {
  padding: 0;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
  background: transparent; }
.annobib-c-decoration__image {
  vertical-align: middle;
  cursor: zoom-in; }
.annobib-c-decoration__caption {
  float: left;
  background: rgba(255,255,255,0.75);
  line-height: 1em;
  padding: 0.25em 0.3em;
  z-index: 500;
  position: relative;
  top: -1.5em;
  font-size: var(--pf-global--FontSize--xs);
  margin-bottom: -1.5em; }
  @media screen and (min-width: 820px) {
    .annobib-c-decoration {
      padding: var(--pf-global--spacer--md);
      border-radius: calc(0.33 * var(--pf-global--spacer--md));
      box-shadow: var(--pf-global--BoxShadow--lg);
      background: radial-gradient(circle at 80% 3rem, #ad1457 0%, #503484 100%); }
    .annobib-c-decoration__caption {
      margin-bottom: 0; } }

/* Custom component: front page lightbox */
.annobib-c-lightbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
.annobib-c-lightbox__image {
  max-height: 100%;
  max-width: 100%;
  cursor: zoom-out; }
